<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="
	    http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd
">

	<!--循环依赖问题-->
	<bean id="bean" class="org.springframework.go1ove.bean.Bean">
		<property name="ItBean" ref="itBean"/>
	</bean>
	<bean id="itBean" class="org.springframework.go1ove.bean.ItBean">
		<property name="Bean" ref="bean"/>
	</bean>


	<!--<bean id="myBeanFactoryPostProcessor" class="org.springframework.go1ove.bean.MyBeanFactoryPostProcessor"/>
	<bean id="myBeanPostProcessor" class="org.springframework.go1ove.bean.MyBeanPostProcessor"/>-->


	<!--<bean id="bean" class="org.springframework.go1ove.bean.Bean">
	</bean>-->


	<!--aop配置-->
	<!--横切逻辑-->
	<!--<bean id="logUtils" class="org.springframework.go1ove.bean.LogUtils">
	</bean>

	<aop:config>
		<aop:aspect ref="logUtils">
			<aop:before method="beforeMethod" pointcut="execution(public void org.springframework.go1ove.bean.Bean.print())"/>
		</aop:aspect>
	</aop:config>-->


</beans>